
.tabs_title {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 20px;
}

.tabs_title li {
	/*float: left;*/
	display:inline;
	background-color:#546B5B;
	color:#CCCCCC;
	padding: 5px 8px 5px 8px;
	margin-right: -1px;
	cursor: pointer;
	height: 24px;
}

.tabs_title li:hover{
	background-color:#546B5B;
	color:#FFFFFF;
}

.tabs_title li.active {
	background-color: #457A3F;
	color:#FFFFFF;
}

.tabs_panel {
	position: relative;
	width: 100%;
	clear: both;
	/*overflow: auto;*/
	border:1px solid #457A3F;
	display:none;
}

.tabs_panel.active {
	background-color:#FFFFFF;
	display: block;
}